<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
    <h2>Create User</h2>
    <form method="post">
        {% csrf_token %}
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br>
        
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" required><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        
        <label for="tenant">Tenant:</label><br>
        <select id="tenant" name="tenant" required>
            {% for tenant in tenants %}
            <option value="{{ tenant.id }}">{{ tenant.name }}</option>
            {% endfor %}
        </select><br>
        
        <input type="submit" value="Create User">
    </form>
</body>
</html>
