{% load static %}

<!DOCTYPE html>
<html>
    
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AUTH AIMAGINEERS V2.0.0</title>
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Google fonts - Popppins for copy-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap" rel="stylesheet">

    <!-- The Main Theme stylesheet (Contains also Bootstrap CSS)-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">

    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Favicon-->
    <script src="https://kit.fontawesome.com/f896476628.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid px-0 overflow-x-hidden">
        <div class="row gx-0 min-vh-100">
            <div class="col-md-9 col-lg-6 col-xl-4 px-5 d-flex align-items-center shadow">
                <div class="w-100 py-5">
                    <div class="text-center"><img class="img-fluid mb-4" src="https://static.wixstatic.com/media/c1aa28_caaa7bac44d64a288544766d296e41a6~mv2.png" alt="AImagineers AI software development company logo" style="max-width: 24rem;">
                    <h1 class="h4 text-uppercase mb-5">Welcome Back</h1>
                    </div>
                        <form method="post" action="{% url 'index' %}">  <!-- Replace 'user_login' with the actual name of your login view in urls.py -->
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="user_name" class="form-label">Username</label>
                                <input class="form-control" id="user_name" name="user_name" type="text" autocomplete="off" required>
                            </div>
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col">
                                    <label for="password" class="form-label">Password</label>
                                    </div>
                                    <div class="col-auto"><a class="form-text small text-muted" href="#">Forgot your password?</a></div>
                                </div>
                                <input class="form-control" id="password" name="password" type="password" required>
                            </div>
                            <div class="form-check mb-4">
                                <input class="form-check-input" id="remember" name="remember" type="checkbox">
                                <label class="custom-control-label" for="remember">Remember this device</label>
                            </div>
                            <!-- Submit-->
                            <div class="d-grid mb-5">
                                <button class="btn btn-primary text-uppercase" type="submit">Sign in</button>
                            </div>
                            <!-- Link-->
                            <p class="text-sm text-muted text-center">
                            Don't have an account yet? <a href="register-2.html">Register</a>.</p>
                        </form>
                </div>
                <div class="col-md-3 col-lg-6 col-xl-8 d-none d-md-block">
                <!-- Image-->
                <div class="bg-cover h-100 me-n3" style="background-image: url(https://images.unsplash.com/photo-1579567761406-4684ee0c75b6?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- TOAST SCRIPTS -->
    {% include "global_components/toast.html" %}

    <!-- GLOBAL LISTENERS -->
    <script src="{% static 'js/globalListeners.js' %}"></script>

    <!-- JavaScript files-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Main Theme JS File-->
    <script src="{% static 'js/theme.js' %}"></script>
          
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>